<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Fructe</title>
    <link rel="stylesheet" href="stil.css"></head>

</head>

<body>
    <%- body %>

    <footer>
        <p class="copyright">&copy; Programare Web</p>
    </footer>
</body>
